.MainTextBlock{
	margin: 0 auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	max-width: 880px;
	position: absolute;
    left: 60px;
    right: 60px;
	width: auto;
	top: 50%;
}

.MainHeader{
	margin-bottom: 20px;
	position: relative;
	display: block;
	text-align: center;
}

h1{
	margin-top: 0;
	margin-bottom: 0;
}

.links{
	display: inline-block;
	position: relative;
}

li{
	display: inline-block;
	list-style: none;
	padding-left: .6em;
    padding-right: .6em;
    padding-top: .8em;
    padding-bottom: .8em;
	letter-spacing: .2em;
}

a{
	color: inherit;
}